<script type="text/javascript">
  <% if logged_in? %>
    window.currentUser = <%= render("api/users/user.json.jbuilder",
      user: current_user, pending_friends: current_user.pending_friends).html_safe %>
  <% end %>
</script>

<div id='root'>
</div>
