.comment-index-container {
  display: flex;
  flex-direction: column;
}

.comment-index-item {
  display: flex;
  flex-direction: row;
}

.comment-profile-photo {
  width: 50px;
  height: auto;
  padding: 10px;
}

.comment-body {
  flex-direction: row;
  align-self: center;
  margin-right: 10px;
}

.commenter-name {
  display: inline;
  white-space: nowrap;
  float: left;
  height: 17px;
  padding-right: 5px;
  text-decoration: none;
}

.new-comment {
  margin-left: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.new-comment-profile-photo {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.new-comment-form {
  align-self: center;
}

.new-comment-body {
  border: 1px solid #DDDFE2;
  height: 35px;
  width: 530px;
}
