.comment-index-container {
  display: flex;
  flex-direction: column;
}

.comment-item-wrapper {
  display: flex;
  flex-direction: column;
}

.comment-replies {
  // display: flex;
  position: relative;
  margin-top: 10px;
}

.reply-button {
  position: absolute;
  top: -16px;
  left: 59px;
  font-size: 13px;
  color: #4A69A3;
}

.reply-button:hover {
  cursor: pointer;
}

.comment-replies > .comment-index-container {
  margin-left: 30px;
}

.comment-index-item {
  position: relative;
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

.comment-profile-photo {
  width: 40px;
  height: 40px;
  padding: 5px 10px;
}

.comment-body {
  width: 80%;
  flex-direction: row;
  align-self: center;
  margin-right: 10px;
}

.commenter-name {
  display: inline;
  white-space: nowrap;
  float: left;
  height: 17px;
  padding-right: 5px;
  text-decoration: none;
  font-weight: bold;
}

.new-comment {
  margin-left: 10px;
  margin-top: 7px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

.new-comment-profile-photo {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.new-comment-form {
  align-self: center;
  width: 100%;
}

.new-comment-body {
  border: 1px solid #DDDFE2;
  height: 35px;
  width: 95%;
  padding-left: 10px;
}

.comment-options {
  position: absolute;
  top: 15px;
  right: 15px;
}

.comment-options-button {
  font-size: 12px;
  color: #BFC3CA;
}

.comment-options-button:hover {
  cursor: pointer;
}

.comment-option {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 3;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 12px;
}

.comment-option:hover {
  cursor: pointer;
  background-color: #4267B2;
  color: white;
  border-top: 1px solid #29487D;
  border-bottom: 1px solid #29487D;
  font-weight: lighter;
}

.comment-option:first-child {
  margin-top: 3px;
}

.comment-option:last-child {
  margin-bottom: 3px;
}
