.nav-bar {
  display: flex;
  position: fixed;
  width: 100%;
  height: 41px;
  top: 0;
  left: 0;
  background-color: #3B5998;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #29487D;
  z-index: 1000;
}

.home-link {
  margin-left: 10px;
  text-decoration: none;
}

.home-link, .nav-profile-section > * {
  color: white;
}

.nav-profile-section {
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
}

.signout, .profile-link, .requests {
  background-color: #3B5998;
}

.signout, .profile-link, .requests {
  padding: 3px 8px;
  border-radius: 2px;
}

.profile-link {
  text-decoration: none;
  border-right: 1px solid #355089;
}

.signout:hover, .profile-link:hover, .requests:hover {
  background-color: #355089;
  cursor: pointer;
}

.request-window {
  position: absolute;
  padding-left: 0px;
  top: 20px;
  right: 20px;
  background-color: white;
  border-left: 1px solid #C1C1C1;
  border-right: 1px solid #C1C1C1;
  width: 350px;
  color: black;
  list-style: none;
}

.pending-request {
  display: flex;
  flex-direction: row;
  align-items: center;
  border-bottom: 1px solid #C1C1C1;
}

.pending-request:first-child {
  border-top: 1px solid #C1C1C1;
}

.request-response {
  padding: 5px;
  margin: 5px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 3px;
}

.request-response:hover {
  cursor: pointer;
}

.accept {
  width: 73px;
  background-color: #4267B2;
  border: 1px solid #4267B2;
  color: white;
}

.accept:hover {
  background-color: #365899;
}

.deny {
  width: 118px;
  background-color: #F6F7F9;
  border: 1px solid #CED0D4;
  color: #4B4F56;
}

.deny:hover {
  background-color: #E9EBEE;
}

.requester-name {
  text-decoration: none;
  width: 100px;
}

.request-profile-photo {
  padding: 5px;
  width: 45px;
  height: auto;
}
