.news-feed {
  position: relative;
  top: 42px;
  margin: 0 auto;
  width: 600px;
}

.post-index {
  list-style: none;
}

.new-post {
  top: 30px;
  position: relative;
  display: flex;
  flex-direction: row;
  height: 190px;
  width: 600px;
  border: 1px solid #DFE0E4;
  border-radius: 3px;
  background-color: white;
  margin: 0 auto;
}

.new-post-body {
  width: 500px;
  height: 100px;
  margin-top: 40px;
  align-self: flex-end;
  font-size: 18px;
  margin-bottom: 10px;
  border-bottom: 1px solid #DFE0E4;
  border-right: 1px solid #DFE0E4;
  border-top: 0;
  border-left: 0;
  margin-right: 10px;
}

.new-post-button {
  position: absolute;
  bottom: 8px;
  right: 20px;
  background-color: #4267B2;
  font-size: 18px;
  color: white;
  padding: 3px 12px;
  border-radius: 2px;
}

.post-profile-photo {
  margin-top: 10px;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
}

.new-post-button:hover {
  cursor: pointer;
  background-color: #365899;
}

.post-index {
  margin-top: 50px;
  margin: 50 auto;
  padding: 0;
}

.post-item {
  position: relative;
  width: 600px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 150px;
  background-color: white;
  margin-top: 25px;
  border: 1px solid #DFE0E4;
  border-radius: 3px;
  font-family: sans-serif;
}

.post-user-details {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.post-body {
  margin-top: 15px;
  margin-left: 15px;
  margin-right: 15px;
  padding-bottom: 10px;
  font-size: 18px;
  border-bottom: 1px solid #DFE0E4;
}

.user-link {
  text-decoration: none;
  font-weight: bold;
}

.fa-arrow-right {
  color: #AAAAAA;
  padding-left: 5px;
  padding-right: 5px;
}

.post-options {
  position: absolute;
  top: 15px;
  right: 15px;
}

.post-options-button {
  font-size: 12px;
  color: #BFC3CA;
}

.options-list {
  position: absolute;
  top: 18px;
  right: 0px;
  width: 160px;
  border: 1px solid #CECECE;
  white-space: nowrap;
}

.post-option {
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 3px;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  font-size: 12px;
}

.post-option:hover {
  cursor: pointer;
  background-color: #4267B2;
  color: white;
  border-top: 1px solid #29487D;
  border-bottom: 1px solid #29487D;
  font-weight: lighter;
}

.post-option:first-child {
  margin-top: 3px;
}

.post-option:last-child {
  margin-bottom: 3px;
}
