.profile-cover {
  position: relative;
  width: 900px;
  top: 42px;
  margin: 0 auto;
}

.profile-pic {
  position: absolute;
  top: 220px;
  left: 25px;
  height: 100px;
  width: 100px;
  z-index: 1;
}

.cover-section {
  position: relative;
  height: 300px;
}

.cover-pic {
  width: 900px;
  height: 300px;
}

.filter-bar {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 900px;
  background-color: #FFFFFF;
}

.filter-bar > * {
  padding: 10px;
  border-right: 1px solid #E9EAED;
  background-color: #FFFFFF;
  font-weight: bold;
  color: #4B4F56;
}

.filter-option:first-child {
  margin-left: 150px;
  border-left: 1px solid #E9EAED;
}

.filter-option:hover {
  cursor: pointer;
  background-color: #F6F7F9;
}

.upload-profile {
  position: absolute;
}

.upload-cover {
  position: absolute;
  left: 20px;
  top: 20px;
}

.profile-body {
  height: 500px;
}


//input type file styling
