.profile-cover {
  position: relative;
  width: 900px;
  top: 42px;
  margin: 0 auto;
}

.profile-pic-container {
  position: absolute;
  top: 220px;
  left: 25px;
  z-index: 1;
}

.profile-pic {
  height: 100px;
  width: 100px;
  z-index: 1;
}

.cover-section {
  position: relative;
  height: 300px;
}

.cover-pic {
  width: 900px;
  height: 300px;
}

.filter-bar {
  display: flex;
  flex-direction: row;
  height: 40px;
  width: 900px;
  background-color: #FFFFFF;
}

.filter-bar > * {
  padding: 10px;
  border-right: 1px solid #E9EAED;
  background-color: #FFFFFF;
  font-weight: bold;
  color: #4B4F56;
}

.filter-option:first-child {
  margin-left: 150px;
  border-left: 1px solid #E9EAED;
}

.filter-option:hover {
  cursor: pointer;
  background-color: #F6F7F9;
}

.ofile {
  position: absolute;
}

.cover-pic-button {
  position: absolute;
  left: 20px;
  top: 20px;
}

.profile-pic-button {
  display: flex;
  position: absolute;
  z-index: 10;
  bottom: 4px;
  font-size: 11px;
  opacity: 0;
  background-color: black;
  color: white;
  border: 1px solid white;
  padding: 8px 2px;
  width: 94px;
}

.profile-pic-button:hover {
  cursor: pointer;
}

.profile-pic-container:hover > div {
  opacity: .7;
}

.upload-profile-pic {
  white-space: nowrap;
  font-size: 10px;
}

.upload-profile-pic:hover {
  cursor: pointer;
}

.upload-cover-pic {
  border: 1px solid white;
  background-color: black;
  opacity: .2;
  color: white;
  padding: 2px 10px;
}

.upload-cover-pic:hover {
  opacity: 1;
  cursor: pointer;
}

.profile-body {
  height: 500px;
}

.friend-button {
  position: relative;
  z-index: 5;
  padding: 5px;
  border: 1px solid black;
  background-color: #F6F7F9;
  color: #4B4F56;
  font-size: 12px;
  bottom: 80px;
  white-space: nowrap;
}

.accepted-friend {
  width: 36px;
}

.pending-friend {
  width: 100px;
  left: 773px;
}

.non-friend {
  left: 818px;
}

.accepted-friend {
  left: 831px;
}

.hidden {
  display: none;
}

.row-align {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 930px;
  margin: 0 auto;
}
